<div class="row" style="padding-top: 40px">
    <div class="col-md-6">
        <div class="dropdown" style="display:grid">
            <button class="btn  btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Tạo Dữ Liệu
            </button>
            <div class="dropdown-menu dropdown-button " aria-labelledby="dropdownMenuButton">
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/createtracnghiem">Tạo bài trắc nghiệm</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/createdientu">Tạo bài điền từ</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/createbaidoc">Tạo bài đọc</a>
                    </strong>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dropdown" style="display:grid">
            <button class="btn  btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dữ Liệu Hiện Có
            </button>
            <div class="dropdown-menu dropdown-button " aria-labelledby="dropdownMenuButton">
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/alluser">Danh sách người dùng</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/allquestions/baidoc">Danh sách bài đọc</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/allquestions/tracnghiem">Danh sách trắc nghiệm</a>
                    </strong>
                </h3>
                <h3 class="h3">
                    <strong>
                        <a class="dropdown-item" href="http://localhost:5000/allquestions/dientu">Danh sách bài điền từ</a>
                    </strong>
                </h3>


            </div>
        </div>
    </div>

</div>

<div class=" " style="padding-top: 40px">
    <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/logout" role="button">Đăng xuất</a>
</div>