<h1>Điểm của bạn</h1>

<h1>{{Data}}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thời gian thi</th>
            <th scope="col">Điểm đọc</th>
            <th scope="col">Điểm nghe</th>
            <th scope="col">Tổng điểm</th>
        </tr>
    </thead>
    <tbody>
        {{{Table}}}
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/userinfo" role="button">Thông tin cá nhân</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/test" role="button">Thi</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/logout" role="button">Đăng xuất</a>
    </div>
</div>