<h1>Các người dùng đã tham gia thi</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Họ</th>
            <th scope="col">Username</th>
            <th scope="col">Tổng điểm</th>
            <th scope="col">Thời gian thi</th>
        </tr>
    </thead>
    <tbody>
        {{{Table}}}
    </tbody>
</table>