<h1>Bạn chưa có điểm thi</h1>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="" role="button">Thông tin cá nhân</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/test" role="button">Thi</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/logout" role="button">Đăng xuất</a>
    </div>
</div>