<h1>Tạo bài đọc</h1>

<form action="" method="post">
    <div class="form-group">
        <label>Paragraph</label>
        <textarea name="bdParagraph" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Câu hỏi 1</label>
        <div class="col-sm-10">
            <input name="Q1QuestionContent" type="text" class="form-control">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Câu trả lời</legend>
            <div class="col-sm-10">
                <div class="form-check  ">
                    <input class="form-check-input " type="radio" name="Q1AnswerValue" value="A">
                    <label class="form-check-label ">
                        A
                    </label>
                    <div class="col-sm-10">
                        <input name="Q1AnswerAContent" class="form-control" type="text">
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q1AnswerValue" value="B">
                    <label class="form-check-label">
                        B
                    </label>
                    <div class="col-sm-10">
                        <input name="Q1AnswerBContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q1AnswerValue" value="C">
                    <label class="form-check-label">
                        C
                    </label>
                    <div class="col-sm-10">
                        <input name="Q1AnswerCContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q1AnswerValue" value="D">
                    <label class="form-check-label">
                        D
                    </label>
                    <div class="col-sm-10">
                        <input name="Q1AnswerDContent" class="form-control" type="text">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Câu hỏi 2</label>
        <div class="col-sm-10">
            <input name="Q2QuestionContent" type="text" class="form-control">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Câu trả lời</legend>
            <div class="col-sm-10">
                <div class="form-check  ">
                    <input class="form-check-input " type="radio" name="Q2AnswerValue" value="A">
                    <label class="form-check-label ">
                        A
                    </label>
                    <div class="col-sm-10">
                        <input name="Q2AnswerAContent" class="form-control" type="text">
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q2AnswerValue" value="B">
                    <label class="form-check-label">
                        B
                    </label>
                    <div class="col-sm-10">
                        <input name="Q2AnswerBContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q2AnswerValue" value="C">
                    <label class="form-check-label">
                        C
                    </label>
                    <div class="col-sm-10">
                        <input name="Q2AnswerCContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q2AnswerValue" value="D">
                    <label class="form-check-label">
                        D
                    </label>
                    <div class="col-sm-10">
                        <input name="Q2AnswerDContent" class="form-control" type="text">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Câu hỏi 3</label>
        <div class="col-sm-10">
            <input name="Q3QuestionContent" type="text" class="form-control">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Câu trả lời</legend>
            <div class="col-sm-10">
                <div class="form-check  ">
                    <input class="form-check-input " type="radio" name="Q3AnswerValue" value="A">
                    <label class="form-check-label ">
                        A
                    </label>
                    <div class="col-sm-10">
                        <input name="Q3AnswerAContent" class="form-control" type="text">
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q3AnswerValue" value="B">
                    <label class="form-check-label">
                        B
                    </label>
                    <div class="col-sm-10">
                        <input name="Q3AnswerBContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q3AnswerValue" value="C">
                    <label class="form-check-label">
                        C
                    </label>
                    <div class="col-sm-10">
                        <input name="Q3AnswerCContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q3AnswerValue" value="D">
                    <label class="form-check-label">
                        D
                    </label>
                    <div class="col-sm-10">
                        <input name="Q3AnswerDContent" class="form-control" type="text">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Câu hỏi 4</label>
        <div class="col-sm-10">
            <input name="Q4QuestionContent" type="text" class="form-control">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Câu trả lời</legend>
            <div class="col-sm-10">
                <div class="form-check  ">
                    <input class="form-check-input " type="radio" name="Q4AnswerValue" value="A">
                    <label class="form-check-label ">
                        A
                    </label>
                    <div class="col-sm-10">
                        <input name="Q4AnswerAContent" class="form-control" type="text">
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q4AnswerValue" value="B">
                    <label class="form-check-label">
                        B
                    </label>
                    <div class="col-sm-10">
                        <input name="Q4AnswerBContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q4AnswerValue" value="C">
                    <label class="form-check-label">
                        C
                    </label>
                    <div class="col-sm-10">
                        <input name="Q4AnswerCContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q4AnswerValue" value="D">
                    <label class="form-check-label">
                        D
                    </label>
                    <div class="col-sm-10">
                        <input name="Q4AnswerDContent" class="form-control" type="text">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Câu hỏi 5</label>
        <div class="col-sm-10">
            <input name="Q5QuestionContent" type="text" class="form-control">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Câu trả lời</legend>
            <div class="col-sm-10">
                <div class="form-check  ">
                    <input class="form-check-input " type="radio" name="Q5AnswerValue" value="A">
                    <label class="form-check-label ">
                        A
                    </label>
                    <div class="col-sm-10">
                        <input name="Q5AnswerAContent" class="form-control" type="text">
                    </div>

                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q5AnswerValue" value="B">
                    <label class="form-check-label">
                        B
                    </label>
                    <div class="col-sm-10">
                        <input name="Q5AnswerBContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q5AnswerValue" value="C">
                    <label class="form-check-label">
                        C
                    </label>
                    <div class="col-sm-10">
                        <input name="Q5AnswerCContent" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Q5AnswerValue" value="D">
                    <label class="form-check-label">
                        D
                    </label>
                    <div class="col-sm-10">
                        <input name="Q5AnswerDContent" class="form-control" type="text">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>

    <div class="form-group row">
        <div class="col-sm-10">
            <button onclick="myFunction()" pe="submit" class="btn btn-primary">Gui</button>
        </div>
    </div>
</form>

<script>
    function myFunction() {
        alert("Đã cập nhật bài đọc")
    }
</script>