<div class="jumbotron">
    <h1 class="display-3">Xin chào!</h1>
    <p class="lead">Đây là hệ thống thi trắc nghiệm tiếng anh của nhóm 15</p>
    <hr class="my-3">
    <p>Xin mời đăng nhập</p>
    <div class="row">
        <div class="col-md-6 ">
            <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/login" role="button">User</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="http://localhost:5000/adminlogin  " role="button">Admin</a>
        </div>
    </div>
    <a href="http://localhost:5000/createuser">Bạn chưa có tài khoản ?</a>

</div>