<h1>Home</h1>

<h1>
    <a href="http://localhost:5000/createtracnghiem">Nhập bài trắc nghiệm</a>
</h1>
<h1>
    <a href="http://localhost:5000/createdientu">Nhập bài điền từ</a>
</h1>
<h1>
    <a href="http://localhost:5000/createbaidoc">Nhập bài đọc</a>
</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password" id="">
    <button type="submit">Gui</button>
</form>
<h1>username : {{username}}</h1>

<a href="http://localhost:5000/logout">Logout</a>