<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thi TOEIC</title>
    <link rel="stylesheet" href="/libs/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/style.css">
    <script src="/libs/jquery-3.3.1.min.js"></script>
    <script src="/libs/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About us</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>

</body>

</html>